<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    여기는 쇼핑몰
    <ul>
        {% for i in data0 %}
        <li>{{i}}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for i in data1 %}
        <li>{{i}}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for i in data2 %}
        <li>{{i}}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for i in data3 %}
        <li>{{i}}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for i in data4 %}
        <li>{{i}}</li>
        {% endfor %}
    </ul>
</body>
</html>